PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cctv_fleet
REDIS_URL=redis://localhost:6379
JWT_SECRET=replace_this_with_a_long_random_string
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PRICE_ID=price_1Tq8jCJa84LqoQKBsavqQkh2
STRIPE_WEBHOOK_SECRET=whsec_replace_this_later
FRONTEND_URL=http://localhost:5173
CREDENTIAL_ENCRYPTION_KEY=376e5720d9c433be7e733c20f3183be5ec924098bc0c584442eaf89ed4b666a6